<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841740018255-uvlu1h2bv5tsge6kl644km9l3s8mt326.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841740018255-uvlu1h2bv5tsge6kl644km9l3s8mt326</string>
	<key>API_KEY</key>
	<string>AIzaSyDKHxgFFgdgrT_FW5aqKipaRmRhIGPn8R8</string>
	<key>GCM_SENDER_ID</key>
	<string>841740018255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otus.runic</string>
	<key>PROJECT_ID</key>
	<string>runic-react-native-app</string>
	<key>STORAGE_BUCKET</key>
	<string>runic-react-native-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841740018255:ios:98419249f5e2df4d42403a</string>
</dict>
</plist>